body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    font-weight: 700;
}

p {
    text-align: center;
    font-size:8px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-weight: bold;
    font-weight: 400;
}